@font-face {
    font-family: 'Recursive Mono'; font-style: normal; font-weight: 400; font-display: swap;
    src: url('/public/RecursiveMonoCslSt-Regular.woff2') format('woff2');
}

/* global */
html, button, input, select, textarea, .pure-g [class *= "pure-u"]
    { font-family: "Recursive Mono", monospace; letter-spacing: 0; line-height: 18px; }

button { background-color: transparent; border: none; margin: 0; padding: 0; }
button:hover { cursor: pointer; }
.clear { clear: both; }
.white { color: #FFF; }
.black { color: #000; }
.close { margin-left: 3px; }

#content p, #sidebar p, h3 { margin: 20px 0 0 0; padding: 0 10px; }
h3 { font-size: 20px; font-weight: normal; }

/* layout */
#body { display: flex; flex-direction: column; height: 100vh; margin: 0 auto; }
#body.narrower { max-width: 1500px; }
#body.wider { max-width: 1700px; }
#main { display: flex; flex-direction: column; flex: 1; min-height: 0; }
@media screen and (min-width: 48em) { #main { flex-direction: row; } }
#sidebar { overflow-y: auto; }

/* menu */
.menu-item { background-color: #EEE; border: 1px solid #BBB; border-top: none; display: inline-block; margin: 0 4px 4px 0; padding: 3px 6px; }
.menu-item a { color: #555; text-decoration: none; }
.menu-item button { color: #555; height: 18px; }
.menu-item svg { vertical-align: middle; }
.menu-item:hover, .menu-item.current, .picker #content .active { background-color: #CB5; border-color: #984; color: #653; }
.menu-item:hover a, .menu-item.current a, .picker #content .active a { color: #653; }
.menu-item .black { text-shadow: 2px 2px 4px #FFFC, 0px 0px 9px #FFFC; }
.menu-item .white { text-shadow: 2px 2px 4px #000C, 0px 0px 9px #000C; }

/* home */
.picker #content button, .picker #content input { background-color: #EEE; border: 1px solid #CCC; margin: 10px; padding: 5px 10px; }
.picker #content input { background-color: #FFF; }
.picker #content .lg-picker { width: 80%; }

/* user */
.user #content button, .user #content input { background-color: #EEE; border: 1px solid #CCC; margin: 10px; padding: 5px 10px; }

/* game */
.game-info .game-nav { max-width: 350px; margin: auto; }
.game-info .game-nav div { display: flex; justify-content: center; align-items: center; }
.game-info .game-nav svg { vertical-align: middle; }
.message { margin: 10px; padding: 5px; }

.comments { padding: 10px; }
.create-comment textarea { background-color: #EEE; border: 1px solid #CCC; margin-top: 10px; padding: 5px; width: calc(100% - 10px); height: 18px; }
.create-comment textarea.focus { height: 150px; }
.comments button.add-current-variation { background-color: #EEE; border: 1px solid #CCC; padding: 5px 10px; margin-right: 10px; margin-top: 10px; }
.comments button.submit-comment { background-color: #EEE; border: 1px solid #CCC; padding: 5px 10px; margin-left: 10px; margin-top: 10px; float: right; }
.comment { padding: 10px 0; }
.comment-info { padding-bottom: 10px; }
.comment-info .created { padding-right: 28.8px; }
.game-clickable { background-color: #CB5; }
.game-highlight { color: #FFF; background-color: #000; }
.comments .game-clickable, .comments .game-highlight { padding: 1px 4.6px 1px 5px; }
.mid-item .game-clickable, .mid-item .game-highlight { padding: 7px 10px; }
